body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:  #4D4F62;
    gap: 1;
    padding: 81px 35px 35px;
}
header h3{
    font-weight: 275;
    line-height: 36px;
    font-size: 24px;
    letter-spacing: 0.17px;
    opacity: 50%;
}
header h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.17px;
}
header h5{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.1px;
    opacity: 50%;
    text-align: center;
    color:  #4D4F62;
    margin-top: 13px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 375px;
}
.first, .second, .third, .fourth{
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    width: 311px;
    height: 222px;
    border-radius: 7px;
    margin: auto;
    box-shadow: #b7b7fa 0px 10px 20px;
    
}
.rectangle{
    width: 310px;
    height: 4px;
    background-color: #4ed8d8;
    border-top-right-radius: 5% 7px;
    border-top-left-radius: 5% 7px;
    border-bottom: 2px;
}
.second-rectangle{
    width: 310px;
    height: 4px;
    background-color: #EA5454;
    border-top-right-radius:5% 7px ;
    border-top-left-radius: 5% 7px;
    border-bottom: 2px;
}
.third-rectangle{
    width: 310px;
    height: 4px;
    background-color:#FCAE4A;
    border-top-right-radius: 5% 7px;
    border-top-left-radius: 5% 7px;
    border-bottom: 2px;
}
.fourth-rectangle{
    width: 310px;
    height: 4px;
    background-color:#549EF2;
    border-top-right-radius: 5% 7px;
    border-top-left-radius: 5% 7px;
    border-bottom: 2px;
}
img{
    width: 36.74px;
    height: 36.74px;
    position: relative;
    left: 242px;
    bottom: -50px;
}
h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-left: 28px;
    padding-top: 27px;
    gap: 1;
    border-radius: 1;
}
p{
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.09px;
    opacity: 50%;
    padding-left: 29px;
}
footer{
    margin-top: 78px;
}
@media (min-width:1440px){
    
    header h3{
        letter-spacing: 0.25px;
        line-height: 54px;
        font-size: 36px;
    }
    header h5{
        width: 540px;
        height: 50px;
    }
    header h4{
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.25px;
    }
   main{
    height: 922px;
    flex-direction: row;
    width: 1440px;
    justify-content: center;
   }
   .second{
    position: relative;
    bottom: 332px;
    left: 184px;
   }
   .third{
    position: relative;
    right: 184px;
    bottom: 40px;
   }
   .first{
    position: relative;
    bottom: 186px;
    left: 200px;
   }
   .fourth{   
    position: relative;
    bottom: 186px;
    right: 200px;

   }
   .forcenter{
        display: flex;
        justify-content: center;
        width: 100%;
   }
   }
